<!doctype html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <title>Nahmark: The World's Worst Hallmark App</title>
  </head>

  <body>
      <div class="container" id="header">
          <div class="row">
              <div class="col">
                  <img src="/static/images/Nahmark.png" class="img-fluid" id="nahmark"> 
              </div>
          </div>
          
          <div class="row">
              <div class="col">
                  <h1>
                      Welcome to the world's worst Hallmark card generator!
                  </h1>
              </div>  
          </div>
      </div>

      <div class="container" id="input">
          <div class="row">
              <div class="col">
                <form method="post" action="/results">
                    <input type="text" name="sender" placeholder="Your Name" required/>
                    <input type="text" name="recipient" placeholder="Name of Recipient?" required/>
                    <input type="text" name="message" placeholder="Your Message" required/>
                    <input type="text" name="gif_type" placeholder="GIF Type" required/>
                    <input type="submit" value="Submit"/>
                </form>
              </div>
          </div>
      </div>

      <div class="container" id="testInput">
          <div class="row" id="testButton">
              <div class="col">
                  <button type="button">Click to test</button>
              </div>
          </div>
          <div class="row">
              <div class="col" id="testInputAppend">

              </div>
          </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/javascript/script.js"></script>
  
</body>
</html>

  
